<launch>
    <arg name="pcd_file_path" default="$(find your_package_name)/path/to/your/pcd_file.pcd" />
    
    <node pkg="your_package_name" type="your_node_executable" name="cloud_matching" output="screen">
        <param name="pcd_file_path" value="$(arg pcd_file_path)" />
    </node>
</launch>

